[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/vim-scripts/pathogen.vim
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/epmatsw/ag.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "vim/bundle/vim-cdo"]
	path = vim/bundle/vim-cdo
	url = https://github.com/mikekaminsky/vim-cdo.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim/bundle/l33t"]
	path = vim/bundle/l33t
	url = https://github.com/mikekaminsky/l33t.git
