# Vim mode on the command line
set editing-mode vi

#Up/Down arrow cycle through history based on what's already typed
"\e[A":history-search-backward 
"\e[B":history-search-forward

#Ignore cases for tab completion
set completion-ignore-case on 
set show-all-if-ambiguous on
set visible-stats on
